:root {
    --base: #007BC4;
    --black: #352f36;
}

@page {
    size: A4;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body[data-print=true] {
    font-size: 14px;

    & .page {
        width: 90%;
    }
}


.hide {
    display: none;
}

button {
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.print {
    font-weight: bold;
    position: fixed;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;

    /* & span {
        color: var(--base);
    } */

    & img {
        width: 2em;
        filter: invert(34%) sepia(28%) saturate(3477%) hue-rotate(176deg) brightness(98%) contrast(103%);
    }
}

.page {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 75%;
    background-color: white;
    padding: 2em;

    &>header {
        display: grid;
        grid-template-columns: auto min-content;
        gap: 1em;

        & .content {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            width: fit-content;

            & div {
                display: grid;
                grid-template-columns: 1fr 1fr;

                & .data:hover {
                    cursor: copy;
                    color: var(--base);
                    font-weight: bold;
                }
            }

            & h1 {
                font-size: 2.5em;
                font-weight: bold;
            }

            & a {
                text-decoration: none;
                font-style: italic;
                color: var(--base);
                width: fit-content;

                &::after {
                    content: url('link.svg');
                    width: 0.75em;
                    display: inline-block;
                    padding-left: 0.25em;
                    filter: invert(34%) sepia(28%) saturate(3477%) hue-rotate(176deg) brightness(98%) contrast(103%);
                }
            }
        }

        &>img {
            width: 100px;
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@media only screen and (max-width: 810px) {
    main {
        grid-template-columns: 1fr;
    }

    .page {
        width: 90%;
    }

    body[data-print=true] {
        & main {
            grid-template-columns: 1fr 1fr;
        }
    }
}


section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* max-width: 22em; */
}

article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &>header {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: bold;
        color: var(--base);
        border-bottom: 2px solid var(--base);
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.horizontal {
    display: grid !important;
    grid-template-columns: auto 1fr;
    column-gap: 2em !important;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 0.125em;

    & header {
        font-weight: bold;
    }

    & a {
        text-decoration: none;
        font-style: italic;
        color: var(--black);

        &::after {
            content: url('link.svg');
            width: 0.75em;
            display: inline-block;
            padding-left: 0.25em;
        }

        &:visited {
            color: var(--black);
        }

        &:hover {
            color: var(--base);

            &::after {

                filter: invert(34%) sepia(28%) saturate(3477%) hue-rotate(176deg) brightness(98%) contrast(103%);
            }
        }
    }

    & span {
        display: block;
    }
}

.p-bar {
    border-radius: 1em;
    overflow: hidden;
    background-color: lightgray;
    height: 100%;
    max-width: 200px;
    max-height: 0.5em;

    & div {
        border-radius: 1em;
        background-color: var(--base);
        height: 100%;
    }
}